@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @foreach (var c in (List<clsRandom>)ViewData["randomNumber"])
    {
      <p>Random Number Returned: @c.randomNum</p>
    }
</div>
